@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

/* CSS RESET */
* {margin: 0;}
input, textarea, select {font: inherit;}
*, *::before, *::after{box-sizing: border-box;}
html, body, main {margin: 0;padding: 0;height: 100%;width: 100%;}
/* RESET END */
html{
    scroll-behavior: smooth;
}
/* ROOT */
:root{
    --background: #F5F5F5;
    --foreground: #363636;
    --accent-one: #868686;
    --shadow-light: rgba(0, 0, 0, 0.2);
    --shadow-dark: rgba(0, 0, 0, 0.5);
    --accent-two: #FFFFFF;
    --accent-three: #363636;
}
@media (prefers-color-scheme: dark){
    :root{
        --background: #363636;
        --foreground: #F5F5F5;
        --accent-one: #AFAFAF;
        --shadow-light: rgba(0, 0, 0, 0.5);
        --shadow-dark: rgba(0, 0, 0, 0.8)
    }   
}
/* MAIN */
html,body,main{
    background-color: var(--background);
}
main{
    font-family: 'Roboto', sans-serif;
    accent-color: var(--accent-two);
}
/* THEMER */
.themer{
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--foreground);
    user-select: none;
}
.themer p{
    opacity: 0;
    transform: translateX(-40px);
    transition: transform 0.5s, opacity 0.5s;
}
.themer:hover p{
    opacity: 1;
    transform: translateX(0);
}
#themeToggle{
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: var(--background);
    z-index: 2;
}
/* INPUT */
#input{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}
.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    height: 95%;
    min-height: 550px;
    min-width: 255px;
    color: var(--foreground);
    box-shadow: 0 10px 15px 0 var(--shadow-light);
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
}
.section .header{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    border-bottom: 1px solid var(--foreground);
    padding-bottom: 10px;
}
.section .header i{
    color: var(--accent-one);
}
.helpButton{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--accent-one);
    box-shadow: 0 0 5px 0 var(--shadow-dark);
    cursor: pointer;
}
.section .helpButton{
    position: absolute;
    top: 5px;
    right: 10px;
    height: 20px;
    width: 20px;
}
.helpPanel{
    position: absolute;
    background-color: var(--background);
    color: var(--foreground);
    width: 300px;
    top: 100%;
    right: 50%;
    border-radius: 10px;
    z-index: 2;
    box-shadow: 0 0 15px 0 var(--shadow-dark);
    pointer-events: none;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.35s;
}
.helpButton:hover .helpPanel, .helpButton.hover .helpPanel{
    opacity: 1;
}
/* COLOR PICKER */
#colorPicker{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;
    min-height: 150px;
    gap: 10px;
}
#colorWheel{
    position: relative;
    flex-grow: 1;
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-shadow: 0 10px 15px 0 var(--shadow-light);
    background-image: url("/assets/wheel.png");
    background-position: center;
    background-size: cover;
    cursor: pointer;
    /* overflow: hidden; */
}
#colorWheel #picker{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 3px solid var(--accent-three);
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    position: absolute;
    pointer-events: none;
}
.label{
    position: relative;
    width: 80%;
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 10px;
    user-select: none;
}
input[type=range]{
    width: 100%;
}
input[type=text]{
    border: none;
    border-bottom: 1px solid var(--accent-one);
    width: 100%;
}
input[type=text]:focus,
input[type=number]:focus{
    outline: none;
}
.label .horizontal{
    display: flex;
    gap: 5%;
    width: 10px;
    width: 100%;
}
input[type=number]{
    border: none;
    border-bottom: 1px solid var(--accent-one);
    width: 30%;
}
input{
    background-color: var(--background);
    color: var(--foreground);
}
.noCursor{
    cursor: none !important;
}
.colorButton{
    width: 100%;
    height: 50px;
    background-color: var(--accent-two);
    color: var(--accent-three);
    border-radius: 10px;
    box-shadow: 0 10px 15px 0 var(--shadow-light);
    border: none;
    cursor: pointer;
    transition: box-shadow 0.45s;
    font-weight: bold;
    margin-top: 10px;
}
.colorButton:hover{
    box-shadow: 0 10px 15px 0 var(--shadow-dark);
}
.colorButton:active{
    transition: all 0s;
    box-shadow: 0 5px 10px 0 var(--shadow-dark);
}
/* OPTIONS */
.fullWidth{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
}
.fullWidth .label{
    width: 100%;
    justify-items: start;
    grid-template-columns: 100px 1fr;
}
.fullWidth hr{
    border: none;
    border-bottom: 1px solid var(--accent-one);
}
.fullWidth .helpPanel{
    width: 300px;
    top: 0;
    right: 150%;
    transform: translateY(-50%);
}
.fullWidth .horizontal{
    display: flex;
    gap: 20px;
}
.filler{
    flex-grow: 1;
}
/* OUTPUT */
#display{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.swatch{
    flex-grow: 1;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.swatch:hover{
    flex-grow: 3;
}
/* Print */
#print{
    display: none;
    aspect-ratio: 1/1.4;
    height: 100%;
}
#printDisplay{
    display: flex;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
}
#printColors{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
}
.printColor{
    display: flex;
    gap: 5px;
    align-items: center;
}
.printSwatch{
    aspect-ratio: 1/1;
    width: 100px;
    border: 2px solid black;
    border-radius: 10px;
}
@media print{
    html{
        print-color-adjust: exact;
    }
    html,body,main{
        background-color: white;
    }
    #input, #themeToggle{
      visibility: hidden;
    }
    #print{
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }
}
/* RESPONSIVE DESIGN */
@media only screen and (max-width: 850px) {
    #input{
        width: 100%;
        height: 300%;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 0;
        justify-content:normal;
    }
    .themer{
        position: fixed;
    }
    .themer p{
        display: none;
    }
    #themeToggle{
        background-color: transparent;
    }
    .section{
        width: 100%;
        min-width: none;
        height: 100%;
        min-height: none;
        border-radius: 0;
        padding: 10px;
        gap: 10px;
    }
    #colorPicker{
        max-width: 100%;
        height: 40%;
        min-height: none;
        gap: 10px;
    }
    #display{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}
@media only screen and (max-width: 350px) {
    .helpButton .helpPanel{
        position: absolute;
        width: 100vw;
        top: 0;
        right: -100%;
        border-radius: 0;
        border-top: 2px solid var(--foreground);
        border-bottom: 2px solid var(--foreground);
        box-shadow: 0 0 15px 0 black;
    }
}