/* CSS RESET */
* {margin: 0;}
input, textarea, select {font: inherit;}
*, *::before, *::after{box-sizing: border-box;}
html, body, main {margin: 0;padding: 0;height: 100%;width: 100%;}
/* RESET END */
html{
    scroll-behavior: smooth;
}
/* ROOT */
:root{
    --background: #F5F5F5;
    --foreground: #363636;
    --accent-one: #868686;
    --shadow-light: rgba(0, 0, 0, 0.2);
    --shadow-dark: rgba(0, 0, 0, 0.5);
    --accent-two: #FFFFFF;
    --accent-three: #363636;
}
@media (prefers-color-scheme: dark){
    :root{
        --background: #363636;
        --foreground: #F5F5F5;
        --accent-one: #AFAFAF;
        --shadow-light: rgba(0, 0, 0, 0.5);
        --shadow-dark: rgba(0, 0, 0, 0.8)
    }   
}
/* MAIN */
html,body,main{
    background-color: var(--background);
}
main{
    font-family: Noto, -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Nimbus Sans L", Roboto, "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif;
    accent-color: var(--accent-two);
}
::selection{
    background-color: var(--accent-two);
    color: var(--accent-three);
}
/* THEMER*/
#topButtons{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10px;
    left: 10px;
    gap: 10px;
}
.topButton{
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--foreground);
    user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
}
.topButton img{
    scale: 0.0;
    transition: 0.3s scale;
}
.topButton.open{
    pointer-events: all;
}
.topButton.open img{
    scale: 1.0;
    opacity: 1.0;
}
#menuButton img{
    scale: 1.0;
    opacity: 1.0;
    pointer-events: all;
    transition: 0.3s transform;
}
#menuButton.open img{
    transform: rotateZ(90deg);
}
.topButton p{
    opacity: 0;
    transform: translateX(-40px);
    transition: transform 0.5s, opacity 0.5s;
}
.topButton:hover p{
    opacity: 1;
    transform: translateX(0);
}
.topButton .topImage{
    width: 33px;
    height: 33px;
    cursor: pointer;
    z-index: 2;
    border-radius: 50%;
}
.themeVector{
    filter: invert(14%) sepia(0%) saturate(60%) hue-rotate(177deg) brightness(108%) contrast(82%);
}
.themeVector.dark{
    filter: invert(98%) sepia(4%) saturate(512%) hue-rotate(284deg) brightness(120%) contrast(92%);
}
/* ABOUT PANEL */
#dimmer{
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 98;
    opacity: 0;
    pointer-events: none;
}
#aboutPanel{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 99;
    width: 90%;
    left: 5%;
    top: 10%;
    height: 80%;
    background-color: var(--background);
    color: var(--foreground);
    border-radius: 20px;
    transition: all 0.5s;
    opacity: 0;
    pointer-events: none;
    overflow: auto;
}
#aboutLogo{
    width: 40%;
}
#versionText{
    width: 40%;
    margin-top: -1%;
    margin-bottom: 25px;
    text-align: right;
    font-size: 12pt;
}
#changelog{
    margin-bottom: 25px;
}
.vr{
    width: 80%;
    border-bottom: 2px solid var(--foreground);
    margin-top: 10px;
    margin-bottom: 10px;
}
#aboutPanel a{
    color: #8A00FF;
    font-weight: bold;
    text-decoration: none;
}
#aboutPanel ul{
    width: 80%;
    padding: 0;
    padding-left: 15px;
    overflow-y: auto;
}
#aboutFooter{
    display: flex;
    gap: 5px;
}
#dimmer.show{
    opacity: 1;
    pointer-events: all;
}
#aboutPanel.show{
    opacity: 1;
    pointer-events: all;
}
#closeButton{
    position: absolute;
    top: 5px;
    right: 20px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    font-weight: bold;
    font-size: 32px;
}
/* INPUT */
#input{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}
.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    height: 95%;
    min-height: 550px;
    min-width: 255px;
    color: var(--foreground);
    box-shadow: 0 10px 15px 0 var(--shadow-light);
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
}
.section .header{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
    border-bottom: 1px solid var(--foreground);
    padding-bottom: 10px;
}
.section .header i{
    color: var(--accent-one);
}
.fullWidth .header{
    align-items: flex-start;
}
.helpButton{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--accent-one);
    box-shadow: 0 0 5px 0 var(--shadow-dark);
    cursor: pointer;
}
.section .helpButton{
    position: absolute;
    top: 5px;
    right: 10px;
    height: 20px;
    width: 20px;
}
.helpPanel{
    position: absolute;
    background-color: var(--background);
    color: var(--foreground);
    width: 300px;
    top: 100%;
    right: 50%;
    border-radius: 10px;
    z-index: 2;
    box-shadow: 0 0 15px 0 var(--shadow-dark);
    pointer-events: none;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.35s;
}
.helpButton:hover .helpPanel, .helpButton.hover .helpPanel{
    opacity: 1;
}
/* COLOR PICKER */
#colorPicker{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: 40%;
    aspect-ratio: 1/1;
    gap: 10px;
}
#colorWheel{
    position: relative;
    flex-grow: 1;
    aspect-ratio: 1/1;
    border-radius: 50%;
    max-height: 100%;
    box-shadow: 0 10px 15px 0 var(--shadow-light);
    background-image: url("./assets/wheel.png");
    background-position: center;
    background-size: cover;
    cursor: pointer;
    touch-action: none;
    /*
    Actually can't do outline because of course Safari implemention fucks it up.
    The ::before declaration below is a workaround for that.
    outline: 3px solid var(--foreground);
    outline-offset: -3px;
    */
}
#shader{
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 50%;
}
#shader::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 3px solid var(--foreground);
    border-radius: calc(50% - 3px);
}
#colorWheel::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 3px solid var(--foreground);
    border-radius: calc(50% - 3px);
}
#colorWheel #picker{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 3px solid var(--accent-three);
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    position: absolute;
    pointer-events: none;
}
.label{
    position: relative;
    width: 80%;
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 10px;
    user-select: none;
    -webkit-user-select: none;
}
input[type=range]{
    width: 100%;
}
input[type=text]{
    border: none;
    border-bottom: 1px solid var(--accent-one);
    width: 30%;
    text-align: center;
}
input[type=text]:focus,
input[type=number]:focus{
    outline: none;
}
.label .horizontal{
    display: flex;
    gap: 5%;
    width: 10px;
    width: 100%;
}
.horizontal.justified{
    justify-content: space-between;
}
input[type=number]{
    border: none;
    border-bottom: 1px solid var(--accent-one);
    width: 30%;
    text-align: center;
    appearance: textfield;
    -moz-appearance: textfield;
}
input[type=number]:invalid{
    border-color: rgb(216, 24, 24);
    border-width: 2px;
    margin-bottom: -1px;
}
input[type=range]{
    touch-action: none;
}
.half{
    width: 50% !important;
}
.full{
    width: 100% !important;
}
/* Webkit spinners */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input{
    background-color: var(--background);
    color: var(--foreground);
}
.noCursor{
    cursor: none !important;
}
.colorButton{
    width: 100%;
    height: 50px;
    min-height: 50px;
    background-color: var(--accent-two);
    color: var(--accent-three);
    border-radius: 10px;
    box-shadow: 0 10px 15px 0 var(--shadow-light);
    border: none;
    cursor: pointer;
    transition: box-shadow 0.45s;
    font-weight: bold;
    margin-top: 10px;
}
.colorButton:hover{
    box-shadow: 0 10px 15px 0 var(--shadow-dark);
}
.colorButton:active{
    box-shadow: 0 5px 10px 0 var(--shadow-dark);
}

/* OPTIONS */
.fullWidth{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
}
.fullWidth .label{
    width: 100%;
    justify-items: start;
    grid-template-columns: 100px 1fr;
}
.fullWidth hr{
    border: none;
    border-bottom: 1px solid var(--accent-one);
}
.fullWidth .helpPanel{
    width: 300px;
    top: 0;
    right: 150%;
    transform: translateY(-50%);
}
.fullWidth .horizontal{
    display: flex;
    gap: 20px;
}
.filler{
    flex-grow: 1;
}
#tintContainer{
    display: grid;
    width: 100%;
    grid-template-columns: 30% 1fr 40px;
    gap: 10px;
}
#tintContainer input[type=number]{
    width: 100%;
}
.tabContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
    gap: 2%;
    border-bottom: 5px solid;
    border-color: var(--accent-two);
    margin-bottom: -10px;
}
.tab{
    border: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px 10px 5px 5px;
    width: 49%;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    opacity: 0.6;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tab:hover{
    opacity: 0.85;
}
.tab.selected, .tab.selected:hover{
    background-color: var(--accent-two);
    color: var(--accent-three);
    font-weight: bold;
    opacity: 1;
}
#advancedOptions{
    gap: 1vh;
}
#advancedOptions .fullWidth{
    margin: 0;
}
.quickButtons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}
.quickButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(min(15vh, 100px));
    border-radius: 10px;
    background-color: var(--background);
    color: var(--foreground);
    padding: 10px 2px 10px 2px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 5px 0 var(--shadow-dark);
    opacity: 0.7;
    user-select: none;
    -webkit-user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.quickButton:hover{
    opacity: 1;
}
.quickButton.selected{
    background-color: var(--accent-two);
    color: var(--accent-three);
    opacity: 1;
}
.warning{
    width: 100%;

    margin-bottom: 5px;
    margin-top: -10px;
}
.hidden{
    display: none !important;
}
/* OUTPUT */
#display{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
}
.swatch{
    position: relative;
    flex-grow: 1;
    min-height: 0;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.swatchLabel{
    font-size: 0.9em;
    font-weight: bold;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    transition: 0.3s opacity;
}
.swatch .hexLabel{
    position: absolute;
    top: 5%;
    left: 2%;
}
.swatch .nameLabel{
    position: absolute;
    text-align: right;
    width: 33%;
    top: 5%;
    right: 2%;
}
.swatch .rgbLabel{
    position: absolute;
    bottom: 5%;
    left: 2%;
    opacity: 0;
}
.swatch .hsvLabel{
    position: absolute;
    bottom: 5%;
    right: 2%;
    opacity: 0;
}
.swatch .lockLabel{
    position: absolute;
    height: 20px;
    font-size: 20px;
    top: 5%;
    left: calc(50% - 10px);
    opacity: 0;
}
.swatch .lockLabel.locked{
    opacity: 1;
    display: block;
}
.lockLabel::after{
    content: "♡";
}
.lockLabel.locked::after{
    content: "♥";
}
.hsvLabel, .rgbLabel, .lockLabel{
    display: none;
}
.swatchEditPanel{
    height: 100%;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #f5f5f5;
    position: absolute;
    right: 100%;
    transition: 0.3s right;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    padding: 2%;
}
.swatchInput{
    width: 75%;
    display: grid;
    grid-template-columns: 22% 4% 1fr;
}
.swatchInput p{
    user-select: none;
}
.swatchInputsContainer{
    display: flex;
    justify-content: space-between;
}
.swatchInput input[type=text]{
    background-color: transparent;
    width: 100%;
    text-align: left;
}
.swatchInputsContainer input[type=number]{
    background-color: transparent;
}
.swatchInputsContainer input[type=number],
.swatchInput input[type=text]{
    border: none;
    border-bottom: 1px solid #f5f5f53f;
    color: #f5f5f5;
}
.swatchInputsContainer input[type=number]:focus,
.swatchInput input[type=text]:focus{
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: -1px;
}
#display:not(.editMode) > .swatch:hover .hsvLabel,
#display:not(.editMode) > .swatch:hover .rgbLabel,
#display:not(.editMode) > .swatch:hover .lockLabel{
    opacity: 1;
    display: block;
}
#display:not(.editMode) > .swatch:hover{
    flex-grow: 3;
    min-height: 20%;
}
.swatch.editMode{
    flex-grow: 3;
    min-height: 20%;
}
.swatch.editMode > .swatchEditPanel{
    right: 20%;
}
.swatch.editMode > .swatchLabel{
    pointer-events: none;
    opacity: 0;
}
.swatchButtons{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 15%;
    width: 20%;
    height: 100%;
    right: 2%;
    top: 0;
}
.swatchButton{
    height: 20%;
    max-height: 25px;
    cursor: pointer;
    user-select: none;
    margin: 0;
    padding: 0;
    opacity: 0.7;
    transition: 0.3s all;
}
.swatchButton:hover{
    scale: 1.2;
    opacity: 1;
}
/* EXPORT */
select{
    width: 100%;
    height: 30px;
    background-color: var(--foreground);
    color: var(--background);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
/* Notification */
.notifContainer{
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 1fr 10px;
    grid-template-areas: "text button";
    align-items: center;
    position: fixed;
    background-color: var(--background);
    color: var(--foreground);
    height: 50px;
    width: 33%;
    top: 0;
    left: 33.5%;
    border-radius: 10px;
    z-index: 3;
    box-shadow: 0 0 15px 0 var(--foreground);
    padding: 0 20px 0 20px;
    opacity: 0;
    transition: opacity 0.35s, top 0.35s;
    pointer-events: none;
}
.notifContainer.show{
    top: 5%;
    opacity: 1;
    pointer-events: all;
}
.notifButton{
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    grid-area: button;
    font-weight: bold;
    font-size: 32px;
}
.notifContent b{
    user-select: none;
    -webkit-user-select: none;
}
.notifContent.clickable{
    cursor: pointer;
}
/* Viewer */
#viewerMain{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: 98;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: opacity 0.25s;
}
#viewerMain.show{
    opacity: 1;
    pointer-events: all;
}
#viewerDisplay{
    display: flex;
    height: 100%;
    width: 100%;
}
#viewerMain .topButton{
    position: absolute;
}
.viewerSwatch{
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;
    height: 100%;
    flex-grow: 1;
    transition: flex-grow 0.25s;
    padding-left: 10px;
    padding-bottom: 10px;
}
.viewerSwatch:hover{
    flex-grow: 1.5;
}
#viewerDisplay .hsvLabel, #viewerDisplay .rgbLabel, #viewerDisplay .nameLabel, #viewerDisplay .hexLabel{
    display: block;
    position: relative;
    cursor: unset;
}
/* Loader */
#loader{
    position: absolute;
    z-index: 99;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    pointer-events: none;
}
#spinner{
    animation: spin 10s infinite linear;
}
.hide{
    animation: hide 0.5s forwards;
}
@keyframes spin {
    from    {transform:rotate(0deg);}
    to      {transform:rotate(360deg);}
}
@keyframes hide {
    from    {opacity: 1;}
    to      {opacity: 0;}
}
/* Chrome/Safari Compat */
*{
    -webkit-tap-highlight-color: transparent;
}
/* Image */
#saveCanvas{
    display: none;
}
/* Print */
#print{
    display: none;
    aspect-ratio: 1/1.4;
    height: 100%;
}

.printSwatch{
    height: 250px;
    width: 200px;
    border: 2px solid black;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    overflow: hidden;
}

.printSwatchColor{
    position: relative;
    height: 150px;
    width: 100%;
    justify-self: center;
    border-bottom: 2px solid black;
    padding: 0;
    margin: 0;
    margin-bottom: 12px;
}

.printSwatch h4{
    position: absolute;
    text-align: center;
    width: 100%;
    top: 10px;

}

.printSwatch p{
    margin-left: 10px;
    color: black;
}
/* OTHER */
.debugLabel{
    position: fixed;
    top: 20px;
    font-weight: bold;
    color: red;
    width: 100%;
    text-align: center;
    font-size: 2em;
    user-select: none;
    -webkit-user-select: none;
}
@media print{
    html{
        print-color-adjust: exact;
        -webkit-print-color-adjust:exact;
    }
    html,body,main{
        background-color: white;
    }
    #input, #themeToggle, #notification, .topButton{
      visibility: hidden;
    }
    #print{
      display: grid;
      grid-template-columns: 33% 33% 33%;
      grid-auto-rows: 350px;
      position: absolute;
      justify-items: center;
      top: 0;
      left: 0;
    }
}
/* RESPONSIVE DESIGN */
@media only screen and (max-width: 850px) {
    #viewerDisplay{
        flex-direction: column;
        position: fixed;
        overflow: scroll;
    }
    #viewerButton{
        position: fixed;
    }
    .viewerSwatch{
        align-items: flex-end;
        justify-content: space-around;
        padding-bottom: 0;
        padding-right: 5px;
        flex-grow: 1;
    }
    #aboutPanel{
        position: fixed;
        width: 100%;
        max-height: 100%;
        min-height: 100%;
        top: 0;
        left: 0;
        border-radius: 0;
    }
    #aboutLogo{
        width: 80%;
        padding-top: 15px;
    }
    #versionText{
        text-align: right !important;
        width: 80%;
    }
    #aboutPanel ul{
        width: 80%;
        padding: 0;
        padding-left: 15px;
    }
    #aboutPanel p{
        text-align: center;
    }
    #aboutFooter{
        flex-direction: column;
        margin-bottom: 10px;
    }
    #aboutFooterDivider{
        display: none;
    }
    #closeButton{
        top: -10px;
        right: 5px;
    }
    #input{
        width: 100%;
        height: 300%;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 0;
        justify-content:normal;
    }
    .themer{
        position: fixed;
    }
    .themer p{
        display: none;
    }
    #themeToggle{
        background-color: transparent;
    }
    .section{
        width: 100%;
        min-width: none;
        height: 100%;
        min-height: none;
        border-radius: 0;
        padding: 10px;
        gap: 10px;
    }
    #colorPicker{
        max-width: 100%;
        height: 40%;
        min-height: none;
        gap: 10px;
    }
    .notifContainer{
        width: 100%;
        min-height: 10%;
        top: 0;
        left: 0;
        border-radius: 0;
    }
    .notifContainer.show{
        top: 0;
    }
}
@media only screen and (max-width: 350px) {
    .helpButton .helpPanel{
        position: absolute;
        width: 100vw;
        top: 0;
        right: -100%;
        border-radius: 0;
        border-top: 2px solid var(--foreground);
        border-bottom: 2px solid var(--foreground);
        box-shadow: 0 0 15px 0 black;
    }
}